app.json
{
    "definition": {
        "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
        "actions": {
            "Check_if_this_request_was_related_to_Purchase_order_or_not": {
                "actions": {
                    "Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response": {
                        "inputs": {
                            "body": {
                                "messages": [
                                    {
                                        "content": "Write an email ,convert this json into meaningful text, keeping in mind  a customer asks for their purchase order  status, if status returns A it means none of the Item is not delivered. This information is from SAP, Customer Name is @{variables('chatgptanalysis').sender} with best regards sarah @{body('Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details')}",
                                        "role": "user"
                                    }
                                ],
                                "model": "gpt-3.5-turbo"
                            },
                            "headers": {
                                "Accept": "application/json",
                                "Content-Type": "application/json",
                                "authorization": "<Your API Key>"
                            },
                            "method": "POST",
                            "uri": "https://api.openai.com/v1/chat/completions"
                        },
                        "runAfter": {
                            "Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details": [
                                "Succeeded"
                            ]
                        },
                        "type": "Http"
                    },
                    "Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details": {
                        "inputs": {
                            "headers": {
                                "Accept": "application/json",
                                "Authorization": "Base64 of Basic Authentication",
                                "Content-Type": "application/json"
                            },
                            "method": "GET",
                            "queries": {
                                "$filter": "PurchaseOrderByCustomer eq '@{replace(variables('purchaseOrder'),'''','''''')}'",
                                "$select": "OverallDeliveryStatus,PurchaseOrderByCustomer,SoldToParty"
                            },
                            "uri": "<your S/4HANA API URL>/sap/opu/odata/sap/API_SALES_ORDER_SRV/A_SalesOrder"
                        },
                        "runAfter": {},
                        "type": "Http"
                    },
                    "Response_to_the_email_with_text_recieved_from_Chatgpt_in_last_step": {
                        "inputs": {
                            "body": {
                                "Body": "<p>@{variables('response_email')}&nbsp;</p>"
                            },
                            "host": {
                                "connection": {
                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                }
                            },
                            "method": "post",
                            "path": "/v3/Mail/ReplyTo/@{encodeURIComponent(triggerBody()?['Id'])}"
                        },
                        "runAfter": {
                            "Store_the_Reply_into_Variable": [
                                "Succeeded"
                            ]
                        },
                        "type": "ApiConnection"
                    },
                    "Store_the_Reply_into_Variable": {
                        "inputs": {
                            "name": "response_email",
                            "value": "@{body('Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response').choices[0].message.content}"
                        },
                        "runAfter": {
                            "Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response": [
                                "Succeeded"
                            ]
                        },
                        "type": "SetVariable"
                    }
                },
                "else": {
                    "actions": {
                        "Send_a_reply_that_this__email_only_deal_with_customer_PO": {
                            "inputs": {
                                "body": {
                                    "Body": "<p>Dear Sir/Madam,<br>\n<br>\nThis Department handle query only related to Purchase Order . Please connect with correct department.<br>\n<br>\nRegards,<br>\nSarah</p>",
                                    "Importance": "Normal",
                                    "Subject": "@triggerBody()?['Subject']",
                                    "To": "@variables('email_sender')"
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "method": "post",
                                "path": "/v2/Mail"
                            },
                            "runAfter": {},
                            "type": "ApiConnection"
                        }
                    }
                },
                "expression": {
                    "and": [
                        {
                            "not": {
                                "equals": [
                                    "@string(variables('chatgptanalysis').purchaseorder)",
                                    null
                                ]
                            }
                        }
                    ]
                },
                "runAfter": {
                    "Extract_the_Purchase_Order_and_Storing_it_in_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "If"
            },
            "Email_to_Meaningful_Json_By_Chat_GPT": {
                "inputs": {
                    "body": {
                        "messages": [
                            {
                                "content": "Could you Please extract text data from this and turned into json object with property purchaseorder and sender, If you think its about purchase order only otherwise  create json object with only property requesttype value invalid @{triggerBody()?['Body']} ",
                                "role": "user"
                            }
                        ],
                        "model": "gpt-3.5-turbo"
                    },
                    "headers": {
                        "accept": "application/json",
                        "authorization": "<Add your key>",
                        "content-type": "application/json"
                    },
                    "method": "POST",
                    "uri": "https://api.openai.com/v1/chat/completions"
                },
                "runAfter": {},
                "type": "Http"
            },
            "Extract_the_Purchase_Order_and_Storing_it_in_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "purchaseOrder",
                            "type": "string",
                            "value": "@string(variables('chatgptanalysis').purchaseorder)"
                        }
                    ]
                },
                "runAfter": {
                    "Storing_ChatGPT_Response_": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Response_Email_Variable": {
                "inputs": {
                    "variables": [
                        {
                            "name": "response_email",
                            "type": "string"
                        }
                    ]
                },
                "runAfter": {
                    "Email_to_Meaningful_Json_By_Chat_GPT": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Initialize_Variable_for_Storing_Sender": {
                "inputs": {
                    "variables": [
                        {
                            "name": "email_sender",
                            "type": "string",
                            "value": "@triggerBody()?['From']"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Response_Email_Variable": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            },
            "Storing_ChatGPT_Response_": {
                "inputs": {
                    "variables": [
                        {
                            "name": "chatgptanalysis",
                            "type": "object",
                            "value": "@json(body('Email_to_Meaningful_Json_By_Chat_GPT').choices[0].message.content)"
                        }
                    ]
                },
                "runAfter": {
                    "Initialize_Variable_for_Storing_Sender": [
                        "Succeeded"
                    ]
                },
                "type": "InitializeVariable"
            }
        },
        "contentVersion": "1.0.0.0",
        "outputs": {},
        "parameters": {
            "$connections": {
                "defaultValue": {},
                "type": "Object"
            }
        },
        "triggers": {
            "When_a_new_email_arrives_(V2)": {
                "inputs": {
                    "fetch": {
                        "method": "get",
                        "pathTemplate": {
                            "template": "/v2/Mail/OnNewEmail"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any",
                            "includeAttachments": false
                        }
                    },
                    "host": {
                        "connection": {
                            "name": "@parameters('$connections')['outlook']['connectionId']"
                        }
                    },
                    "subscribe": {
                        "body": {
                            "NotificationUrl": "@{listCallbackUrl()}"
                        },
                        "method": "post",
                        "pathTemplate": {
                            "template": "/MailSubscriptionPoke/$subscriptions"
                        },
                        "queries": {
                            "fetchOnlyWithAttachment": false,
                            "folderPath": "Inbox",
                            "importance": "Any"
                        }
                    }
                },
                "splitOn": "@triggerBody()?['value']",
                "type": "ApiConnectionNotification"
            }
        }
    },
    "parameters": {
        "$connections": {
            "value": {
                "outlook": {
                    "connectionId": "/subscriptions/e7729e3b-bbe6-419b-82e0-6f49ed4c58ad/resourceGroups/AzureSudip/providers/Microsoft.Web/connections/outlook",
                    "connectionName": "outlook",
                    "id": "/subscriptions/e7729e3b-bbe6-419b-82e0-6f49ed4c58ad/providers/Microsoft.Web/locations/eastus/managedApis/outlook"
                }
            }
        }
    }
}
