template.json
{
    "$schema": "https://schema.management.azure.com/schemas/2019-04-01/deploymentTemplate.json#",
    "contentVersion": "1.0.0.0",
    "parameters": {
        "workflows_devopenai_name": {
            "defaultValue": "devopenai",
            "type": "String"
        },
        "connections_outlook_externalid": {
            "defaultValue": "/subscriptions/<your outlook subscription>/resourceGroups/AzureSudip/providers/Microsoft.Web/connections/outlook",
            "type": "String"
        }
    },
    "variables": {},
    "resources": [
        {
            "type": "Microsoft.Logic/workflows",
            "apiVersion": "2017-07-01",
            "name": "[parameters('workflows_devopenai_name')]",
            "location": "eastus",
            "properties": {
                "state": "Enabled",
                "definition": {
                    "$schema": "https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#",
                    "contentVersion": "1.0.0.0",
                    "parameters": {
                        "$connections": {
                            "defaultValue": {},
                            "type": "Object"
                        }
                    },
                    "triggers": {
                        "When_a_new_email_arrives_(V2)": {
                            "splitOn": "@triggerBody()?['value']",
                            "type": "ApiConnectionNotification",
                            "inputs": {
                                "fetch": {
                                    "method": "get",
                                    "pathTemplate": {
                                        "template": "/v2/Mail/OnNewEmail"
                                    },
                                    "queries": {
                                        "fetchOnlyWithAttachment": false,
                                        "folderPath": "Inbox",
                                        "importance": "Any",
                                        "includeAttachments": false
                                    }
                                },
                                "host": {
                                    "connection": {
                                        "name": "@parameters('$connections')['outlook']['connectionId']"
                                    }
                                },
                                "subscribe": {
                                    "body": {
                                        "NotificationUrl": "@{listCallbackUrl()}"
                                    },
                                    "method": "post",
                                    "pathTemplate": {
                                        "template": "/MailSubscriptionPoke/$subscriptions"
                                    },
                                    "queries": {
                                        "fetchOnlyWithAttachment": false,
                                        "folderPath": "Inbox",
                                        "importance": "Any"
                                    }
                                }
                            }
                        }
                    },
                    "actions": {
                        "Check_if_this_request_was_related_to_Purchase_order_or_not": {
                            "actions": {
                                "Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response": {
                                    "runAfter": {
                                        "Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "Http",
                                    "inputs": {
                                        "body": {
                                            "messages": [
                                                {
                                                    "content": "Write an email ,convert this json into meaningful text, keeping in mind  a customer asks for their purchase order  status, if status returns A it means none of the Item is not delivered. This information is from SAP, Customer Name is @{variables('chatgptanalysis').sender} with best regards sarah @{body('Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details')}",
                                                    "role": "user"
                                                }
                                            ],
                                            "model": "gpt-3.5-turbo"
                                        },
                                        "headers": {
                                            "Accept": "application/json",
                                            "Content-Type": "application/json",
                                            "authorization": "<your open ai key secret>"
                                        },
                                        "method": "POST",
                                        "uri": "https://api.openai.com/v1/chat/completions"
                                    }
                                },
                                "Call_SAP_S4HANA_Sales_Order_API_to_Retrieve_Sales_Order_Details": {
                                    "runAfter": {},
                                    "type": "Http",
                                    "inputs": {
                                        "headers": {
                                            "Accept": "application/json",
                                            "Authorization": "Basic <base64 of username:password>",
                                            "Content-Type": "application/json"
                                        },
                                        "method": "GET",
                                        "queries": {
                                            "$filter": "PurchaseOrderByCustomer eq '@{replace(variables('purchaseOrder'),'''','''''')}'",
                                            "$select": "OverallDeliveryStatus,PurchaseOrderByCustomer,SoldToParty"
                                        },
                                        "uri": "https://<your s4hana api url>/sap/opu/odata/sap/API_SALES_ORDER_SRV/A_SalesOrder"
                                    }
                                },
                                "Response_to_the_email_with_text_recieved_from_Chatgpt_in_last_step": {
                                    "runAfter": {
                                        "Store_the_Reply_into_Variable": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "ApiConnection",
                                    "inputs": {
                                        "body": {
                                            "Body": "<p>@{variables('response_email')}&nbsp;</p>"
                                        },
                                        "host": {
                                            "connection": {
                                                "name": "@parameters('$connections')['outlook']['connectionId']"
                                            }
                                        },
                                        "method": "post",
                                        "path": "/v3/Mail/ReplyTo/@{encodeURIComponent(triggerBody()?['Id'])}"
                                    }
                                },
                                "Store_the_Reply_into_Variable": {
                                    "runAfter": {
                                        "Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response": [
                                            "Succeeded"
                                        ]
                                    },
                                    "type": "SetVariable",
                                    "inputs": {
                                        "name": "response_email",
                                        "value": "@{body('Ask_ChatGPT_to_Make_Email_from_S4HANA_API_Response').choices[0].message.content}"
                                    }
                                }
                            },
                            "runAfter": {
                                "Extract_the_Purchase_Order_and_Storing_it_in_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "else": {
                                "actions": {
                                    "Send_a_reply_that_this__email_only_deal_with_customer_PO": {
                                        "runAfter": {},
                                        "type": "ApiConnection",
                                        "inputs": {
                                            "body": {
                                                "Body": "<p>Dear Sir/Madam,<br>\n<br>\nThis Department handle query only related to Purchase Order . Please connect with correct department.<br>\n<br>\nRegards,<br>\nSarah</p>",
                                                "Importance": "Normal",
                                                "Subject": "@triggerBody()?['Subject']",
                                                "To": "@variables('email_sender')"
                                            },
                                            "host": {
                                                "connection": {
                                                    "name": "@parameters('$connections')['outlook']['connectionId']"
                                                }
                                            },
                                            "method": "post",
                                            "path": "/v2/Mail"
                                        }
                                    }
                                }
                            },
                            "expression": {
                                "and": [
                                    {
                                        "not": {
                                            "equals": [
                                                "@string(variables('chatgptanalysis').purchaseorder)",
                                                null
                                            ]
                                        }
                                    }
                                ]
                            },
                            "type": "If"
                        },
                        "Email_to_Meaningful_Json_By_Chat_GPT": {
                            "runAfter": {},
                            "type": "Http",
                            "inputs": {
                                "body": {
                                    "messages": [
                                        {
                                            "content": "Could you Please extract text data from this and turned into json object with property purchaseorder and sender, If you think its about purchase order only otherwise  create json object with only property requesttype value invalid @{triggerBody()?['Body']} ",
                                            "role": "user"
                                        }
                                    ],
                                    "model": "gpt-3.5-turbo"
                                },
                                "headers": {
                                    "accept": "application/json",
                                    "authorization": "<your API Key secret>",
                                    "content-type": "application/json"
                                },
                                "method": "POST",
                                "uri": "https://api.openai.com/v1/chat/completions"
                            }
                        },
                        "Extract_the_Purchase_Order_and_Storing_it_in_Variable": {
                            "runAfter": {
                                "Storing_ChatGPT_Response_": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "purchaseOrder",
                                        "type": "string",
                                        "value": "@string(variables('chatgptanalysis').purchaseorder)"
                                    }
                                ]
                            }
                        },
                        "Initialize_Response_Email_Variable": {
                            "runAfter": {
                                "Email_to_Meaningful_Json_By_Chat_GPT": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "response_email",
                                        "type": "string"
                                    }
                                ]
                            }
                        },
                        "Initialize_Variable_for_Storing_Sender": {
                            "runAfter": {
                                "Initialize_Response_Email_Variable": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "email_sender",
                                        "type": "string",
                                        "value": "@triggerBody()?['From']"
                                    }
                                ]
                            }
                        },
                        "Storing_ChatGPT_Response_": {
                            "runAfter": {
                                "Initialize_Variable_for_Storing_Sender": [
                                    "Succeeded"
                                ]
                            },
                            "type": "InitializeVariable",
                            "inputs": {
                                "variables": [
                                    {
                                        "name": "chatgptanalysis",
                                        "type": "object",
                                        "value": "@json(body('Email_to_Meaningful_Json_By_Chat_GPT').choices[0].message.content)"
                                    }
                                ]
                            }
                        }
                    },
                    "outputs": {}
                },
                "parameters": {
                    "$connections": {
                        "value": {
                            "outlook": {
                                "connectionId": "[parameters('connections_outlook_externalid')]",
                                "connectionName": "outlook",
                                "id": "/subscriptions/<your outlook subscription>/providers/Microsoft.Web/locations/eastus/managedApis/outlook"
                            }
                        }
                    }
                }
            }
        }
    ]
}